node_modules/
.next/
.husky/
.vscode/
cypress/
prisma/
public/
.lint-stagedrc.cjs
commitlint.config.cjs
cypress.config.ts
eslint.config.mjs
jest.config.js
jest.setup.js
next.config.ts
postcss.config.mjs
tailwind.config.ts
